<!doctype html>
<html
  xmlns:th="http://thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout"
>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Panier</title>
  </head>

  <body layout:fragment="content">
    <div class="bg-gray-100 min-h-screen p-8">
      <!-- Container -->
      <div class="max-w-6xl mx-auto">
        <!-- Title -->
        <h1 class="text-2xl font-bold mb-6 text-gray-800">Panier</h1>

        <!-- Table -->
        <div
          class="bg-white shadow-md rounded-lg overflow-hidden"
          th:if="${cartArticleList != null and !cartArticleList.isEmpty()}"
        >
          <table class="w-full">
            <thead class="bg-pink-400 text-white">
              <tr>
                <th class="p-4 text-left">Id</th>
                <th class="p-4 text-left">Marque</th>
                <th class="p-4 text-left">Description</th>
                <th class="p-4 text-left">Prix unitaire</th>
                <th class="p-4 text-left">Catégorie</th>
                <th class="p-4 text-left">Quantité</th>
                <th class="p-4 text-left">Total</th>
                <th class="p-4 text-left"></th>
              </tr>
            </thead>

            <tbody>
              <tr
                th:each="cartArticle : ${cartArticleList}"
                class="border-b hover:bg-gray-50 transition"
              >
                <td class="p-4" th:text="${cartArticle.article.id}"></td>
                <td
                  class="p-4 font-medium text-gray-700"
                  th:text="${cartArticle.article.brand}"
                ></td>
                <td
                  class="p-4 text-gray-600"
                  th:text="${cartArticle.article.description}"
                ></td>
                <td
                  class="p-4 font-semibold text-gray-600"
                  th:text="${cartArticle.article.price}"
                ></td>
                <td
                  class="p-4 text-gray-600"
                  th:text="${cartArticle.article.category != null ? cartArticle.article.category.name : 'Aucune'}"
                ></td>

                <!-- quantity -->
                <td class="p-4">
                  <form
                    th:action="@{/cart/edit}"
                    method="post"
                    class="flex items-center gap-2"
                  >
                    <input
                      type="hidden"
                      name="cartArticleId"
                      th:value="${cartArticle.id}"
                    />

                    <input
                      type="number"
                      name="quantity"
                      min="0"
                      th:value="${cartArticle.quantity}"
                      class="w-16 text-center border rounded"
                    />

                    <!-- bouton update -->
                    <button
                      type="submit"
                      class="text-blue-500 underline hover:text-blue-700"
                    >
                      valider
                    </button>
                  </form>
                </td>
                <td
                  th:text="${cartArticle.quantity} * ${cartArticle.article.price} + '€'"
                  class="p-4 font-semibold text-green-600"
                ></td>
                <td>
                  <a
                    th:href="@{/cart/delete(id=${cartArticle.id})}"
                    class="p-4 text-pink-400 underline"
                    >Supprimer</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Message if the cart is empty -->
        <p
          class="text-center text-gray-500 mt-10"
          th:if="${cartArticleList == null or cartArticleList.isEmpty()}"
        >
          Votre panier est vide.
        </p>
      </div>
    </div>
  </body>
</html>
